
//
// XCode Build settings for "Debug" Build Configuration of NetmeraPushNotificationServiceExtension.
//

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
#include "../Pods/Target Support Files/Pods-NetmeraPushNotificationServiceExtension/Pods-NetmeraPushNotificationServiceExtension.debug.xcconfig"
#include "../cordova/build-extras.xcconfig"
