
//
// XCode Build settings for "Debug" Build Configuration of NetmeraPushNotificationContentExtension.
//

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
#include "../Pods/Target Support Files/Pods-NetmeraPushNotificationContentExtension/Pods-NetmeraPushNotificationContentExtension.debug.xcconfig"
#include "../cordova/build-extras.xcconfig"
